<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Photo Forensics
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!-- Extra details for Live View on GitHub Pages -->


    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-kit.min.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link href="../assets/demo/vertical-nav.css" rel="stylesheet" />

    <script type="text/javascript" src="../assets/js/core/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/ELA.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js">
    </script>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/css/perfect-scrollbar.min.css" />


    <style>
        body {
            overflow: hidden;
            position: relative;
        }
    </style>





    <style>
        #page-header {
            padding: 5%
        }

        #metadata_body {
            height: 60vh;
            width:  100vh;
        }

        #ela_body {
            height: 60vh;
        }


        .stamp {
            height: 100px;
            width: 100px;
            left: 50%;
            top: 50%;
            position: absolute;
            top: 10%;
            margin: auto;

            -webkit-animation-name: pulse;
            animation-name: pulse;
            animation-delay: 2.5s;
            -webkit-animation-delay: 2.5s;
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            opacity: 0;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            z-index: 10;
        }

        @-webkit-keyframes pulse {
            0% {
                opacity: 0;
            }

            10% {
                opacity: .50;
                transform-origin: 50% 50%;
                transform: rotate(-2deg) scale(5);
                transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
            }

            100% {
                opacity: 1;
                transform: rotate(-15deg) scale(1);
            }
        }
    </style>




    <style>
        .waves {
            height: 75vmin;
            width: 75vmin;
            position: absolute;
            left: 40%;
        }

        .waves img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .waves .wave-1:before,
        .waves .wave-2:before,
        .waves .wave-3:before {
            transition: border-radius 1s ease;
        }

        .waves .wave-1 {
            position: absolute;
            top: -2.5vmin;
            right: -2.5vmin;
            bottom: -2.5vmin;
            left: -2.5vmin;
        }

        .waves .wave-1:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #0d57ff;
            border-radius: 42% 58% 54% 46% / 59% 58% 42% 41%;
        }

        .waves .wave-2 {
            position: absolute;
            top: -5.5vmin;
            right: -5.5vmin;
            bottom: -5.5vmin;
            left: -5.5vmin;
        }

        .waves .wave-2:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(13, 87, 255, 0.6);
            border-radius: 43% 57% 34% 66% / 57% 39% 61% 43%;
        }

        .waves .wave-3 {
            position: absolute;
            top: -8.5vmin;
            right: -8.5vmin;
            bottom: -8.5vmin;
            left: -8.5vmin;
        }

        .waves .wave-3:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(13, 87, 255, 0.2);
            border-radius: 59% 41% 44% 56% / 45% 54% 46% 55%;
        }

        .waves.round .wave-1:before,
        .waves.round .wave-2:before,
        .waves.round .wave-3:before {
            border-radius: 50%;
        }

        .waves.other .wave-1:before {
            border-radius: 87% 62% 74% 64% / 60% 74% 62% 76%;
        }

        .waves.other .wave-2:before {
            border-radius: 52% 84% 74% 64% / 68% 58% 75% 54%;
        }

        .waves.other .wave-3:before {
            border-radius: 66% 59% 66% 71% / 53% 72% 65% 79%;
        }

        .waves.rotate .wave-1:before {
            animation: rotate 20s linear infinite;
        }

        .waves.rotate .wave-2:before {
            animation: rotate 30s linear reverse infinite;
        }

        .waves.rotate .wave-3:before {
            animation: rotate 25s linear infinite;
        }

        .waves.grow .wave-1,
        .waves.grow .wave-2,
        .waves.grow .wave-3 {
            animation: grow 7s ease-in-out infinite;
        }

        .waves.grow .wave-1 {
            animation-delay: -4.2s;
        }

        .waves.grow .wave-2 {
            animation-delay: -2.8s;
        }

        .waves.grow .wave-3 {
            animation-delay: -1.4s;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes grow {

            0%,
            3%,
            100% {
                transform: scale(0.99);
            }

            50% {
                transform: scale(1.07);
            }
        }

        .options {
            padding: 30px 45px;
            background: #f0f0f0;
            position: absolute;
            border-radius: 3px;
            top: 25px;
            left: 25px;
        }

        .options h2 {
            margin-top: 0;
            text-align: center;
            text-decoration: underline;
        }

        .options h3 {
            margin: 0;
        }

        .options hr {
            margin: 15px -5px;
        }

        .options>label {
            display: block;
            margin: 5px 0 5px 20px;
        }

        .waves.rotate.grow:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            background-image: url("https://i.kym-cdn.com/photos/images/original/000/244/457/793.gif");
            background-size: cover;
            background-position: center;
        }
    </style>
    <style>
        h1 {
            animation: move 4s linear infinite;
            background-image: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f);
            background-size: 100% auto;
            font: 700 70px/1 Helvetica;
            letter-spacing: 1px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: 10;

        }

        @keyframes move {
            to {
                background-position: 200% center;
            }
        }
    </style>
</head>

<body>
    <div style="width:100%;height:100%;position: absolute;" id="bg"></div>
    <div id='img' style='visibility: collapse;width:0%;height:0%'><%= img%> </div>

    <script>
        // var getTest = "machineLearning:"+document.getElementById('img').innerHTML; //var test is now assigned to getTest which will only work on browsers
        var getTest = "/machineLearning/" + document.getElementById('img').innerHTML;
        //var test is now assigned to getTest which will only work on browsers
        var img = document.getElementById('img').innerHTML;



        // document.getElementById('metadata_body').innerHTML ="djfgfh";
    </script>


    <div id="page-header" class="page-header" data-parallax="true">
        <div class="container" id='loadingPanelToShow'>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">

                    <div class="card card-blog" id="displayCard">

                        <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img class="img" id="source_image" src=<%= image%>>
                            </a>
                        </div>
                        <img class="stamp" src="../assets/images/fake-stamp.png" id="stamp"
                            style="object-fit:fill;height: 200px;width: 250px;  display: inline-block;">

                        <div class="card-body ">
                            <h6 class="card-category text-success" id="statusOfImage"><%= statusOfImage%></h6>
                            <h4 class="card-title">
                                <h4><%= result%></h4>
                            </h4>
                            <p class="card-description">
                                Our system found that by analyzing your image metadata.
                            </p>

                        </div>
                        <div class="card-footer">
                            <div class="container">

                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-info btn-round" data-toggle="modal"
                                            data-target="#metadataModal" style="width:100%">
                                            <i class="material-icons">info_outline</i> Metadata
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-rose btn-round" data-toggle="modal"
                                            data-target="#elaModal" style="width:100%" id="ELA">
                                            <i class="fa fa-pinterest"></i>Error Level
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="btn btn-success btn-round" onclick="performMachineLearning()"
                                        style="width:100%">
                                        <i class="material-icons">favorite</i> Analyze Using Machine Learning
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='img' style='visibility: collapse;width:0%;height:0%'><%= img%> </div>

        <!-- metadata modal -->
        <div class="modal fade" id="metadataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-notice" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">This is how your image metadata look</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body" id="metadata_body">
                        <div id="data" style='display:none'><%= metadata%></div>

                        <script>
                            let data = document.getElementById('data').innerHTML;

                            var s = $('<textarea />').html(data).text();

                            console.log(s);
                            document.write(s);
                        </script>
                        <!-- <h6 id="data" style="visibility:hidden"></h6>
                         <script>
                            var jsonData = JSON.parse(document.getElementById('data').innerHTML);
                                console.log("AA",JSON.parse(jsonData),JSON.stringify(jsonData));

                            var table_body =
                                '<table border="1" id="example"><thead><tr><th>Cars</th><th>Models</th></tr></thead><tbody>';
                            for (x in jsonData) {
                                var obj = jsonData[x];

                                for (y in obj) {
                                    table_body += '<tr>';
                                    table_body += '<td>';
                                    table_body += x;
                                    table_body += '</td>';

                                    table_body += '<td>';
                                    
                                    var value = obj[y];

                                    table_body += value;
                                    table_body += '</td>';

                                    table_body += '</tr>';
                                }
                            }
                            table_body += '</tbody></table>';
                            document.write(table_body); 

                        </script>-->
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end metadata modal -->



        <!-- metadata modal -->
        <div class="modal fade" id="elaModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error Level In Your Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body" id="ela_body">
                        <!-- <canvas id="compressedOverlay"></canvas> -->
                        <canvas id="source" style="width:90%" data-toggle="tooltip" data-placement="top" title="Original Image"></canvas><br>
                        <canvas id="compressed" style="width:90%" data-toggle="tooltip" data-placement="top" title="Error In Source Image"></canvas>

                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end metadata modal -->





        <script>
            function performMachineLearning() {
                document.getElementById('displayCard').style.visibility = 'collapse';
                //document.getElementById('loadingPanelToShow').innerHTML =  "<div class='card' style='width:800px;height:500px;><div class='card-body'><div class='waves rotate' style='width:300px;height:300px;'><div class='wave-3'></div><div class='wave-2'></div><div class='wave-1'></div><img src='/uploads/"+img+"'></div></div></div></div>";

                document.getElementById('loadingPanelToShow').innerHTML =
                    "<div class='row align-items-center'> <div class='waves rotate' style='width:300px;height:300px;'><div class='wave-3'></div><div class='wave-2'></div><div class='wave-1'></div><img src='/uploads/" +
                    img +
                    "'></div></div><div class='row '><h1 style='margin-top:25%'>Performing Machine Learning</h1></div>";
                window.location.href = getTest;
            }
        </script>


        <!--   Core JS Files   -->
        <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
        <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
        <script src="../assets/js/plugins/moment.min.js"></script>
        <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
        <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGat1sgDZ-3y6fFe6HD7QUziVC6jlJNog"></script>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!--	Plugin for Sharrre btn -->
        <script src="../assets/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
        <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src="../assets/js/plugins/jasny-bootstrap.min.js" type="text/javascript"></script>
        <!--	Plugin for Small Gallery in Product Page -->
        <script src="../assets/js/plugins/jquery.flexisel.js" type="text/javascript"></script>
        <!-- Plugins for presentation and navigation  -->
        <script src="../assets/demo/modernizr.js" type="text/javascript"></script>
        <script src="../assets/demo/vertical-nav.js" type="text/javascript"></script>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
        <script src="../assets/demo/demo.js" type="text/javascript"></script>
        <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
        <script src="../assets/js/material-kit.min.js?v=2.1.1" type="text/javascript"></script>






        <script src="../assets/bg/three.r92.min.js"></script>
        <script src="../assets/bg/vanta.birds.min.js"></script>
        <script>
            VANTA.BIRDS({
                el: "#bg"
            })
        </script>



        <script type="text/javascript">
            $(document).ready(function () {
                $('#page-header').perfectScrollbar();
                $('#metadata_body').perfectScrollbar();
                $('#ela_body').perfectScrollbar();
            });
        </script>


        <script>
            if (document.getElementById("statusOfImage").innerHTML == "FAKE") {
                document.getElementById("statusOfImage").className = "card-category text-danger";
                document.getElementById("stamp").src = "../assets/images/fake-stamp.png";
            } else if (document.getElementById("statusOfImage").innerHTML == "REAL") {
                document.getElementById("statusOfImage").className = "card-category text-success";
                document.getElementById("stamp").src = "../assets/images/real-stamp.png";
            } else {
                document.getElementById("statusOfImage").className = "card-category text-info";
                document.getElementById("stamp").src = "../assets/images/unknown-stamp.png";
            }
        </script>


</body>

</html>